/* color palette */

nav{
    background-color: var(--darkblue);
    height: 90px;
}

.bg-dark{
    background-color: black;
    height: 35px;
}

.jumbo{
    background-color: var(--green);
    height: 490px;
}

.sec-1{
    height: 2510px;
}

.sec-2{
    height: 705px;
}

.sec-3{
    height: 600px;
}

.upper-footer{
    background-color: var(--blue);
    height: 455px;
}

.lower-footer{
    background-color: var(--darkblue);
    height: 110px;
}