/* nav */

[class*="bg"]{
    background-color: black;
}



nav{
    background-color: var(--darkblue);
    height: 90px;
}

.bg{
    height: 35px;
}

/* jumbo */

.jumbo{
    background-color: var(--green);
    height: 490px;
}
/* 
.jumbo>*{
   margin-bottom: 1rem;
} */


/* section 1 */

.sec-1{
    height: 2510px;
}

.box{
    height: 360px;
    border-radius: 25px;
    background-color: salmon;
}

/* section 2 */

.sec-2{
    height: 705px;
}

.sec-3{
    height: 600px;
}

.upper-footer{
    background-color: var(--blue);
    height: 455px;
}

.lower-footer{
    background-color: var(--darkblue);
    height: 110px;
}